#show_error {
  width: 100%;
  margin-top: 300px;
  font-size: 40px;
  text-align: center;
  color: white;
}

#error {
  width: 90%;
  height: 30%;
  margin: 0 auto;
}

#form_level {
  width: 100%;
  margin-top: 5%;
  text-align: center;
  vertical-align: middle;
}

#label_level {
  font-size: 35px;
  color: white;
}

#level {
  font-family: Dumbledore;
  font-size: 25px;
  width: 15%;
  height: 25px;
}

#button_div {
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
}

#button_play {
  border-radius: 15px;
  background-color: #919191;
  font-family: "Dumbledore";
  font-size: 20px;
  width: 20%;
  height: 100%;
}

#button_play:hover {
  color: #5d5d5d;
  background-color: #ffffff;
}

.colorblind_button_div {
  width: 90%;
}

@media (max-width: 800px) {
  #show_error {
    margin-top: 200px;
    font-size: 35px;
  }
}
