#scroll1 {
  background: #cccccc;
  direction: ltr;
}

#gameOver {
  font-style: italic;
  font-weight: bold;
  font-size: 150px;
  font-family: "Harry Potter";
  text-align: center;
}

body {
  background-color: #0e1a40;
}
