.container {
  display: flex;
  margin-top: 5%;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 3%;
  width: 100%;
  text-align: center;
  /* height: 350px; */
}

#img {
  padding-top: 1%;
  text-align: right;
  width: 48%;
  height: 100%;
  margin-right: 2%;
}

#manual {
  color: #ffffff;
  width: 48%;
  height: 100%;
  margin-left: 2%;
  font-size: 30px;
}

#manual_paragraph {
  margin-bottom: 0px;
  margin-top: 10px;
}

#button_div {
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
}

#button_play {
  border-radius: 15px;
  background-color: #5d5d5d;
  font-family: "Dumbledore";
  font-size: 20px;
  width: 20%;
  height: 100%;
}

#button_play:hover {
  color: #5d5d5d;
  background-color: #ffffff;
}

#name_introduction {
  font-size: 30px;
  text-align: center;
  width: 100%;
  color: #ffffff;
}

#username {
  height: 25px;
  font-family: "Dumbledore";
  font-size: 20px;
}
