.tg {
  border-collapse: collapse;
  border-width: 5px;
  width: 400px;
  height: 90px;
  background-color: white;
  border-style: solid;
  border-color: #222f5b;
}

#show_name {
  color: #ffffff;
  font-family: "Harry_Potter";
  font-size: 60px;
  width: 100%;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  margin: 0 auto;
}

.nice {
  background-color: #946b2d;
}

#button_div {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
}

.button_play {
  border-radius: 15px;
  background-color: #919191;
  font-family: "Dumbledore";
  font-size: 20px;
  width: 15%;
  height: 100%;
}

.button_play:hover {
  color: #5d5d5d;
  background-color: #ffffff;
}

#timer {
  font-family: "Harry_Potter";
  color: white;
  width: 100%;
}
#timer {
  text-align: center;
  margin-top: 2%;
  font-size: 25px;
  font-family: "Harry_Potter";
  color: white;
}

#progress {
  position: relative;
  width: 20%;
  height: 30px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 2%;
  border-radius: 7px;
}
#bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #946b2d;
  border-radius: 5px;
}
#label {
  padding-top: 3px;
}

.colorblind_button_div {
  width: 90%;
}
@media (max-width: 1340px) {
  .button_play {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  #progress {
    width: 25%;
  }
}


@media (max-width: 900px) {
  #progress {
    width: 30%;
    margin-bottom: 3%;
  }
}

@media (max-width: 700px) {
  #progress {
    width: 35%;
    margin-bottom: 3%;
  }
}
@media (max-width: 630px) {
  #progress {
    width: 40%;
    margin-bottom: 3%;
  }
  .button_play {
    width: 30%;
  }
}
@media (max-width: 530px) {
  #progress {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 3%;
  }
  .button_play {
    width: 35%;
  }
  footer {
    height: 5%;
  }
}

@media (max-width: 460px) {
  #progress {
    margin-bottom: 3%;
    width: 45%;
  }
  .button_play {
    width: 40%;
  }
}

@media (max-width: 410px) {
  .tg {
    width: 350px;
    height: 80px;
  }
  }
  .button_play {
    width: 45%;
  }
}
