#scroll1 {
  background: #5d5d5d;
  direction: ltr;
  text-align: center;
}

#message {
  font-style: italic;
  font-weight: bold;
  font-size: 150px;
  font-family: "Harry Potter";
  text-align: center;
  color: #ffffff;
}
